<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<welcome-file-list>
		<welcome-file>GWTUMLDrawer.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/logging</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MyLoggerServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umlapi.server.MyLoggerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyLoggerServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/registEditEvent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogViewerServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.LogViewerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogViewerServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getLog</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogViewerServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getEditEventList</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogViewerServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getAllEditEventList</url-pattern>
	</servlet-mapping>

		<servlet-mapping>
		<servlet-name>LogViewerServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getEditEventListForReplay</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CanvasServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.CanvasServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CanvasServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/saveCanvas</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CanvasServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/loadCanvas</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CanvasServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/undo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CanvasServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/saveCanvasAsAnswer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CanvasServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getAnswer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetUserServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.GetUserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUserServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getUserList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getUserListForReplay</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SetDifficultyServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.SetDifficultyServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetDifficultyServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/setDifficulty</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.UserServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/addUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/changePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/setAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/initializePassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SessionServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.SessionServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getSessionAttribute</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/setSessionAttribute</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AnalysisServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.AnalysisServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnalysisServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/analyze</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExerciseServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.ExerciseServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ExerciseServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/addExercise</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ExerciseServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getExerciseList</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ExerciseServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getExercise</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ExerciseServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/setExerciseRemoved</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CommentServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.CommentServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CommentServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/addComment</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CommentServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getCommentList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReflectionServiceImpl</servlet-name>
		<servlet-class>com.objetdirect.gwt.umldrawer.server.ReflectionServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ReflectionServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/addReflection</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ReflectionServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/removeReflection</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ReflectionServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getReflectionList</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ReflectionServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getAllOccurrenceReasonList</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ReflectionServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/getAllCheckItemList</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ReflectionServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/registerReflectionEventAndReflection</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ReflectionServiceImpl</servlet-name>
		<url-pattern>/gwtumldrawer/updateCheckItem</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>UMLDrawer.html</welcome-file>
	</welcome-file-list>


</web-app>
